@model IEnumerable<Expense_Manager_Using_Dapper.Models.IncomeModel>

@{
    ViewBag.Title = "ViewAllIncomes";
}

<div class="container mt-5">
    <h2>View All Incomes</h2>

    <p>
        @Html.ActionLink("Create New", "AddIncome", "ManageExpense", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.incomeId)</th>
                <th>@Html.DisplayNameFor(model => model.userId)</th>
                <th>@Html.DisplayNameFor(model => model.Source)</th>
                <th>@Html.DisplayNameFor(model => model.IncomeType)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.incomeId)</td>
                    <td>@Html.DisplayFor(modelItem => item.userId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Source)</td>
                    <td>@Html.DisplayFor(modelItem => item.IncomeType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>
                        @Html.ActionLink("Update", "UpdateIncome", "ManageExpense", new { id = item.incomeId }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Details", "IncomeDetails", "ManageExpense", new { id = item.incomeId }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "DeleteIncome", "ManageExpense", new { id = item.incomeId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

            <tr class="table-dark">
                <td colspan="4"></td>
                <td>Total Amount</td>
                <td>@Model.Sum(item => item.Amount)</td>
            </tr>
        </tbody>
    </table>
</div>
